<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m2b.magic2brain.com.magic2brain">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_white"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name="m2b.magic2brain.com.Main2Activity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="m2b.magic2brain.com.MainActivity"/>
        <activity android:name="m2b.magic2brain.com.FavoritesActivity" />
        <activity android:name="m2b.magic2brain.com.LastSeenActivity" />
        <activity android:name="m2b.magic2brain.com.OptionsActivity" />
        <activity android:name="m2b.magic2brain.com.QueryActivity" />
        <activity android:name="m2b.magic2brain.com.SearchActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>