<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m2b.magic2brain.com.magic2brain">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_white"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="m2b.magic2brain.com.Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="m2b.magic2brain.com.MainActivity" />
        <activity android:name="m2b.magic2brain.com.FavoritesActivity" />
        <activity android:name="m2b.magic2brain.com.LastSeenActivity" />
        <activity android:name="m2b.magic2brain.com.QueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="m2b.magic2brain.com.SearchActivity" />
        <activity
            android:name="m2b.magic2brain.com.Options2Activity"
            android:label="@string/title_activity_options2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="m2b.magic2brain.com.CardBrowserActivity"
            android:label="@string/title_activity_card_browser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="m2b.magic2brain.com.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>